.blocks {
	border: 1px grey solid;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin: 50px;

}

#nom{
	display: none;
}

#information-perso{
	background-color:  #feca07;
	width: 400px;
	
}

.deco{
	background-color: #B0BEC5;
}

#loisir{
	display: flex;
}

#information-pro{
	width: 800px;
	

}

 .description h3{	
	display: flex;

}

.titre{
	color: #feca07;
	border-bottom: solid;
	border-color: #feca07;
	padding: 10px;
	margin-left: 20px; 
}

.liste{
	display: flex;
	justify-content: ;
	margin-left: 20px;
	flex-wrap: wrap;

}

.description{
	padding: 10px;
	
	
}

.dates{
	margin-right: 70px;
	padding: 10px;
	width: 150px;
	width

}

#yellow{
	color: #feca07; 
}

#moi{
	padding: 10px 10px 5px 60px;
}

#underline{
	text-decoration-line: underline;
	text-decoration-color: #feca07;
}
