.blocks {
	border: 1px grey solid;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin: 50px;

}

body{
	font-family: georgia;
}

#nom{
	display: none;
}

#photo{
	border-radius: 50%;
	margin-left: 50px;
}

#information-perso{
	background-color: #c1666b;
	width: 400px;
	
}

.deco{
	background-color: #d4b483;
}

#loisir{
	display: flex;
}

#information-pro{
	width: 800px;
	background-color:#f9f8f8;

}

 .description h3{	
	display: flex;

}

.titre{
	color: #c1666b;
	border-bottom: solid;
	border-color: #c1666b;
	padding: 10px;
	margin-left: 20px; 
}

.liste{
	display: flex;
	justify-content: ;
	margin-left: 20px 20px 20px 20px;
	flex-wrap: wrap;

}

.description{
	padding: 10px;
	margin-right: 10px;
	
	
	
}

.dates{
	margin-right: 70px;
	padding: 10px;
	width: 150px;

}

#yellow{
	color: #c1666b;

}

#moi{
	padding: 10px 10px 5px 60px;
}

#underline{
	text-decoration-line: underline;
	text-decoration-color: #c1666b;
}

.reco{
	display: flex;
	justify-content: space-between;
}

.contenu{
	list-style-type: none;

}

.fa-bullseye{
	color: #c1666b;
}