.blocks {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	margin: 50px;
}

body{
	font-family: georgia;
}

#nom{
	display: none;
}

#photo{
	border-radius: 50%;
}

figure{
	text-align: center;
}

#prenom{
	font-size: larger;
	padding-left: 20px;
}

#information-perso{
	background-color: #c1666b;
	width: 20%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	margin-right: 0;
}

#information-perso h2{ 
	background-color: #d4b483;
	padding-left: 10px;	
}

#loisir{
	display: flex;
}

#information-pro{
	width: 60%;
	background-color:#f9f8f8;
}

#information-pro p{
	margin-top: 0;
}

#information-pro h4{ 
	margin-top: 0;
 }

 .description h3{	
	margin: 0;
	padding: 0;	
}

.titre{
	color: #c1666b;
	border-bottom: solid;
	border-color: #c1666b;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px; 
}

.liste{
	display: flex;
	margin-left: 20px;
}
 
.description{
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80%;
	margin-left: 5%;
	word-break: break-word;
	text-align: left;
}


.dates{
	width: 20%;
}

#yellow{
	color: #c1666b;
}

#moi{
	padding: 10px 10px 5px 60px;
}

#underline{
	text-decoration-line: underline;
	text-decoration-color: #c1666b;
}

.reco{
	display: flex;
	justify-content: space-around;
}

.reco div{
	padding: 20px;
	margin: 0;
}

ul{
	list-style-type: none;
}

.fa-bullseye{
	color: #c1666b;
}

.fa-dot-circle{
	color: #c1666b;
}

#loisir{
	display: flex;
	justify-content: space-around;
}

#contact{
	list-style-type: none;
	padding: 0;
}
#contact li{
	padding: 10px;
}
#apropos p{
	padding: 0 40px 0 40px;
	text-align: justify;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
	.blocks{
		margin: 0;
	}

    #information-perso, #information-pro{
    	width: 100%;
    	display: block;
    }

    #nom{
    	display: block;
    	text-align: center;
     }

     #prenomcouleur{
     	color: #d4b483;
     }

    #description{
    	overflow-wrap: break-word;
   }
}

   /* Nouvelles règles si la fenêtre fait au plus 850px de large */

@media screen and (max-width: 852px)
{
   	.liste{
   		display: block;
   		margin-left: 0;
   	}
   .description{
    	margin-left: 0;
    	margin-top: 10px; 
   }

   .description h4{
   		margin: 0;
   }

   .dates{
   		width: auto;
   }

    .reco{
   	display: block;
   	margin-left: 0;
   }
}
